
/* Animaciones reutilizadas */
@keyframes textFadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInHero {
    0% {
      opacity: 0;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  

/* Animación con movimiento diagonal tipo oleaje */
@keyframes gradientWave {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 100%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 0%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
/* Animación texto fadein */
  @keyframes textFadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }  
  
  /* Animación botones fixed */
  @keyframes fixedBtnFade {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }