html, body {
    font-family: $font-stack;
    background-color: $background-color;
    color: $text-gray;
    margin: 0;
    padding: 0;
  }

  .btn-base {
    font-weight: 600;
    padding: 0.5rem 1.25rem;
    border-radius: 2rem;
    font-family: $font-stack;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
  
    &:focus {
      outline: none;
      box-shadow: $focus-shadow;
    }
  
    i {
      font-size: 1rem;
    }
  }
  
//   btn birdman basic
  .btn-primary-birdman {
    @extend .btn-base;
    background-color: $primary;
    color: white;
    border: none;
  
    &:hover {
      background-color: $secondary;
    }
  
    &:focus {
      box-shadow: $focus-shadow;
    }
  }
  
//   btn fitmingo
  .btn-fitmingo {
    @extend .btn-base;
    background-color: $fitmingo;
    color: white;
    border: none;
  
    &:hover {
      background-color: darken($fitmingo, 5%);
    }
  
    &:focus {
      box-shadow: $fitmingo-focus;
    }
  }
  

  