$primary: rgb(25, 75, 136);
$secondary: rgb(101, 127, 189);
$gray: rgb(242, 242, 242);
$falcon: rgb(69, 127, 160); 
$performance: rgb(70, 67, 64);    
$fitmingo: rgb(240, 138, 138);
$peacock: rgb(61, 102, 162);    
$parrot: rgb(111, 232, 188); 
$secondary-falcon: rgb(162, 143, 99);
$secondary-performance: rgb(128, 80, 55);
$secondary-fitmingo: rgb(150, 40, 33);
$secondary-peacock: rgb(241, 232, 188);
$secondary-parrot: rgb(243, 192, 162);

$focus-shadow: 0 0 0 0.25rem rgba($primary, 0.35);
$fitmingo-focus: 0 0 0 0.25rem rgba($fitmingo, 0.35);

$background-color: rgb(254, 254, 254);

$text-gray: rgb(139, 139, 139);

$font-stack: Helvetica, sans-serif;